.swiper-button-next,
.swiper-button-prev {
  color: black !important;   
  width: 40px !important;     
  height: 40px !important;
  top: 50% !important;         
  transform: translateY(-50%) !important;
  z-index: 50 !important;       
}

.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;   
  font-weight: bold;
}

.responsive-aspect {
  aspect-ratio: 24 / 12;
}

@media (max-width: 1280px) {
  .responsive-aspect {
    aspect-ratio: 22 / 12;
  }
}

@media (max-width: 640px) {
  .responsive-aspect {
    aspect-ratio: 20 / 12;
  }
}

@media (max-width: 480px) {
  .responsive-aspect {
    aspect-ratio: 18 / 12;
  }
}
