.swiper-button-next,
.swiper-button-prev {
  color: black !important;        /* 箭頭顏色 */
  width: 40px !important;         /* 自訂寬高 */
  height: 40px !important;
  top: 50% !important;            /* 垂直置中 */
  transform: translateY(-50%) !important;
  z-index: 50 !important;         /* 確保浮在上層 */
}

.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;     /* 箭頭圖示大小 */
  font-weight: bold;
}

.responsive-aspect {
  aspect-ratio: 18 / 9;
}

@media (max-width: 640px) {
  .responsive-aspect {
    aspect-ratio: 36 / 21;
  }
}

@media (max-width: 480px) {
  .responsive-aspect {
    aspect-ratio: 18 / 12;
  }
}
